---
---

@import "variables";
@import "svg-icons";


//
// GENERAL
//

body {
  background-color: $background;
  font-family: Georgia, serif;
  font-size: 12pt;
}

h1, h2, h3 {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 3px solid $header-blue;
}

.container {
  margin: 0 auto;
  max-width: 750px;
}

.header-name {
  font-size: 24pt;
}

.navbar a {
  color: $header-blue;
  text-decoration: none;
}

.navbar a:hover {
  color: $navbar-blue;
  border-bottom: 3px solid $navbar-blue;
}

footer {
  border-top: 3px solid $header-blue;
  text-align: right;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
}

//
// IMAGES
//

.image-container {
    display: flex;
    justify-content:space-evenly;
}

//
// MATH
//

.theorem-box {
  background-color: $theorem-box;
  margin: 0 20px;
  padding: 0 10px 5px;
  border-radius: 10px;
  border: 1px solid $theorem-title;
}

.theorem-box .theorem-title {
  background-color: $theorem-title;
  font-weight: bold;
  font-size: 13pt;
  margin: 0 -10px 5px;
  padding: 5px 10px;
  border-radius: 10px 10px 0 0;
}