---
---

@import "fonts";
@import "svg-icons";
@import "variables";


// GENERAL

body {
  background-color: $COLOR_BACKGROUND;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 850px;

  color: $COLOR_TEXT;
  font-family: $FONT_BODY;
  font-size: 16pt;
}

h1, h2, h3 {
  text-align: center;
  color: $COLOR_PRIMARY;
  font-family: $FONT_TITLE;
}

a:link {
  color: $COLOR_LINK_UNVISITED;
}

a:visited {
  color: $COLOR_LINK_VISITED;
}

hr {
  border-top: 1px solid $COLOR_PRIMARY;
}


// HEADER + FOOTER

header {
  background-color: $COLOR_PRIMARY;
  border-radius: 0px 0px $ROUNDING_HEADER $ROUNDING_HEADER;
  color: $COLOR_BACKGROUND;
  font-family: $FONT_TITLE;
  padding: 10px 30px 10px;
  margin-bottom: 20px;
}

header h1 {
  color: $COLOR_BACKGROUND;
  font-family: $FONT_TITLE;
  font-size: 2.5em;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}

header h2 {
  color: $COLOR_BACKGROUND;
  font-weight: normal;
  text-align: left;
}

header nav {
  float: right;
}

header ul {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
  text-align: right;
}

header li {
  display: inline;
  margin: 0 5px;
}

header a:link, header a:visited {
  color: $COLOR_BACKGROUND;
}

footer {
  border-top: 4px solid $COLOR_PRIMARY;
  padding-top: 6px;
  text-align: right;
}


// POST TITLES + CONTAINERS

.post-container {
  border: 4px solid $COLOR_PRIMARY;
  border-radius: $ROUNDING_HEADER;
  padding: 5px 20px;
  margin: 20px 0;
}

.post-title {
  font-family: $FONT_TITLE;
}

.post-title h1 {
  margin: 0.25em;
}

.post-title p {
  color: $COLOR_SECONDARY;
  font-size: 1em;
  text-align: center;
  margin: 0;
}


// THEOREM BOXES

.theorem-box {
  background-color: $COLOR_TBOX_INNER;
  margin: 0 20px;
  padding: 0 10px 5px;
  border-radius: $ROUNDING_TBOX;
  border: 1px solid $COLOR_PRIMARY;
  overflow: hidden;
}

.theorem-title {
  background-color: $COLOR_PRIMARY;
  color: $COLOR_BACKGROUND;
  font-family: $FONT_TITLE;
  // side margin is to over-reach the padding inside .theorem-box
  margin: 0 -10px 5px;
  padding: 5px 10px;
}


// OTHER

.image-container {
    display: flex;
    justify-content:space-evenly;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
}