---
---

@import "variables";

//
// GENERAL
//

body {
  background-color: $white;
  font-family: Georgia, serif;
  font-size: 12pt;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 3px solid $header-blue;
}

.container {
  margin: 0 auto;
  max-width: 750px;
}

.header-name {
  font-size: 24pt;
}

.navbar a {
  color: $header-blue;
  text-decoration: none;
}

.navbar a:hover {
  color: $navbar-blue;
  border-bottom: 3px solid $navbar-blue;
}

footer {
  border-top: 3px solid $header-blue;
  text-align: right;
}

//
// MATH
//

.theorem-box {
  background-color: $theorem-box;
  padding: 0 10px 5px;
  border-radius: 10px;
  border: 1px solid $theorem-title;
}

.theorem-box .theorem-title {
  background-color: $theorem-title;
  font-weight: bold;
  margin: 0 -10px;
  padding: 5px 10px;
  border-radius: 10px 10px 0 0;
}

@import "svg-icons";
