<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

  <meta charset="utf-8" />
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <!-- import meta.html stuff -->

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {% assets filters="libsass,cssmin", output="css/style.min.css", "css/style.scss", depends="css/*.scss" %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ ASSET_URL }}" />
  {% endassets %}

  <!-- TODO i don't understand feeds yet
  <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" /> -->

</head>

<body>
  <header class="site-header">
    <div class="width-wrapper">
      <h1 class="header-left">{{ SITENAME }}</h1>

      <div class="header-right">
        <nav>
          <ul>
            <li><a href="{{ SITEURL }}/">home</a></li>
            <li><a href="{{ SITEURL }}/about">about</a></li>
            <li><a href="{{ SITEURL }}/archives">archives</a></li>
            <li><a href="https://github.com/HenrySwanson/HenrySwanson.github.io/issues">feedback</a></li>
          </ul>
        </nav>

        <div class="social-icons">
          {% for icon_name, link in SOCIAL_LINKS.items() %}
          <a href="{{ link }}" style="text-decoration: none;" title="{{ icon_name }}">
            <!-- TODO How can I stop the icon from loading humongous at first? -->
            <div class="svg-icon-box">
              {% include "social-icons/" + icon_name + ".svg" %}
            </div>
          </a>
          {% endfor %}

        </div>

      </div>
    </div>
  </header>

  <div class="width-wrapper">
    {% block content %}{% endblock %}
  </div>

  <footer class="site-footer">
    <div class="width-wrapper">
      powered by <a href="https://getpelican.com">Pelican</a> · <a href="https://github.com/HenrySwanson/HenrySwanson.github.io">source code</a>
    </div>
  </footer>

</body>

</html>