{% extends "base.html" %}

{% block content %}
{% block content_title %}
<h1>All Posts</h1>
{% endblock %}

<section>

{% for article in articles_page.object_list %}
<div class="article-container">
  <header>
    <h1 class="article-title">
      <a href="{{ SITEURL }}/{{ article.url }}" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
    </h1>
    <div class="article-date">{{ article.locale_date }}</div>

    {% if article.tags %}
    <div class="article-tags">
      tags:
      {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
      {% endfor %}
    </div>
    {% endif %}
  </header>

  <!-- get summaries working again -->
  <section>{{ article.summary }}</section>

  <div class="read-more-wrapper">
    <a href="{{ SITEURL }}/{{article.url}}" class="read-more">Read more</a>
  </div>
</div>
{% endfor %}

{% if articles_page.has_other_pages() %}
{% include 'pagination.html' %}
{% endif %}

</section>

<!-- TODO this will maybe load the script twice, because it's auto-included by the render_math plugin -->
<script type='text/javascript' async="true"
	src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/latest.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endblock content %}
