
//
// VARIABLES
//

// Colors
$background: #eeeeff;

$header-blue: #000066;
$navbar-blue: #0000ff;

$theorem-box: #ffffff;
$theorem-title: #8888dd;

// Font stacks TODO
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;