
//
// VARIABLES
//

// Colors
$blue: #0000ff;
$header-blue: #000066;
$navbar-blue: #0000ff;

$theorem-box: #ddddee;
$theorem-title: #8888dd;

// Grays
$black: #000000;
$dark-gray: #333333;
$gray: #777777;
$light-gray: #eeeeee;
$white: #eeeeff;

// Font stacks TODO
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;