// Font Directories
$FONT_PARENT_DIR: '../fonts/';


// Alte DIN 1451
$ALTE_DIN_DIR: $FONT_PARENT_DIR + 'alte-din-1451-mittelschrift/';

@font-face {
    font-family: 'Alte DIN 1451';
    src: url($ALTE_DIN_DIR + 'din1451alt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alte DIN 1451';
    src: url($ALTE_DIN_DIR + 'din1451alt G.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


// EB Garamond
$GARAMOND_DIR: $FONT_PARENT_DIR + 'eb-garamond/static/';

@font-face {
    font-family: 'EB Garamond';
    src: url($GARAMOND_DIR + 'EBGaramond-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: url($GARAMOND_DIR + 'EBGaramond-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}