// Font Stacks
$FONT_TITLE: "Alte DIN 1451", sans-serif;
$FONT_BODY: "EB Garamond", serif;

// Colors
$COLOR_BACKGROUND: #eae4e5;
$COLOR_PRIMARY: #5c6679;
$COLOR_SECONDARY: #9aa1a8;
$COLOR_LINK_UNVISITED: #e86655;
$COLOR_LINK_VISITED: #ba5144;
$COLOR_TEXT: #2e333c;
$COLOR_TBOX_INNER: #ebebfb;

// Measurements
$ROUNDING_HEADER: 20px;
$ROUNDING_TBOX: 10px;
$PADDING_TBOX: 10px;