<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}
    </title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ '/css/style.css' | relative_url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ '/feed.xml' | relative_url }}" />

    {% if page.use_math %}
      {% include mathjax.html %}
    {% endif %}
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ '/' | relative_url }}">home</a></li>
          <li><a href="{{ 'about' | relative_url }}">about</a></li>
          <li><a href="https://github.com/HenrySwanson/HenrySwanson.github.io">source</a></li>
        </ul>
      </nav>
      <h1>{{ site.name }}</h1>
      <h2>A work in progress.</h2>
    </header>

    <section>
      {{ content }}
    </section>

    <footer>
      {% include svg-icons.html %}
    </footer>

  </body>
</html>
